<div class="page-header text-center">
	<h1>Kryptohash Blockchain Explorer</h1>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">Network Status</div>
	<div class="panel-body form-horizontal">
        <div class="form-group">
            <label class="col-md-1 col-xs-6 control-label">Block Count</label>
            <div class="col-md-2 col-xs-6">
                <p class="form-control-static"><a href="/blockByHeight/{{.Blocks}}">{{.Blocks}}</a></p>
            </div>
            <label class="col-md-1 col-xs-6 control-label">Difficulty</label>
            <div class="col-md-2 col-xs-6">
                <p class="form-control-static">{{.Difficulty}}</p>
            </div>
            <label class="col-md-2 col-xs-6 control-label">Network Hashrate</label>
            <div class="col-md-2 col-xs-6">
                <p class="form-control-static" id="hashrate"></p>
            </div>
        </div>
	</div>
</div>
