<div class="page-header">
	<h1>Kryptohash Blockchain Explorer</h1>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">Network Status</div>
	<div class="panel-body">
		<label class="col-md-2 control-label">Block Count</label>
		<p class="col-md-2"><a href="/blockByHeight/{{.Blocks}}">{{.Blocks}}</a></p>
		<label class="col-md-1 control-label">Difficulty</label>
		<p class="col-md-3">{{.Difficulty}}</p>
		<label class="col-md-2 control-label">Network Hashrate</label>
		<p class="col-md-2"></p>
	</div>
</div>
