<div class="page-header">
	<h3>Transaction Details</h3>
	<h5>Txid {{.Txid}}</h5>
</div>
<div class="row">
	<label class="col-md-2 control-label">Version</label>
	<p class="col-md-4">{{.Version}}</p>
	<label class="col-md-2 control-label">Locktime</label>
	<p class="col-md-4">{{.Locktime}}</p>
</div>

<h2>Inputs</h2>
<div class="table-responsive">
<table class="table .table-striped">
	<thead>
		<tr>
			<th>Vout</th>
			<th>Txid</th>
			<th>Sequence</th>
			<th>Coinbase</th>
		</tr>
	</thead>
	<tbody>
	{{ range .Vin }}
		<tr>
			<td>{{.Vout}}</td>
			<td><a href="/tx/{{.Txid}}">{{.Txid}}</a></td>
			<td>{{.Sequence}}</td>
			<td>{{.Coinbase}}</td>
		</tr>
	{{ end }}
	</tbody>
</table>
</div>

<h2>Outputs</h2>
<table class="table .table-striped">
	<thead>
		<tr>
			<th>Output #</th>
			<th>KHC</th>
			<th>ReqSigs</th>
			<th>Type</th>
			<th>Addresses</th>
		</tr>
	</thead>
	<tbody>
	{{ range .Vout }}
		<tr>
			<td>{{.N}}</td>
			<td>{{.Value}}</td>
			<td>{{.ScriptPubKey.ReqSigs}}</td>
			<td>{{.ScriptPubKey.Type}}</td>
			<td>
				<ul>
				{{ range .ScriptPubKey.Addresses }}
					<li>{{.}}</li>
				{{ end }}
				</ul>
			</td>
		</tr>
	{{ end }}
	</tbody>
</table>
